@import "variables";
.footer-section {
  background-color: $primary;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-section .section-column {
  flex: 1;
  padding: 0 15px;
}

.footer-center img {
  max-width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.language-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.language-menu li {
  display: inline-block;
  margin-right: 10px;
}

.language-menu a {
  color: white !important; /* Textfarbe auf weiß setzen */
  text-decoration: none !important;
}


