//
// Variables
//
@import "variables";

//
// Import needed Bootstrap Package Files
//
@import "EXT:bootstrap_package/Resources/Public/Scss/bootstrap5/theme";

.navbar-nav {
  font-family: 'Rig Sans', Arial, sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 5px;
  line-height: 1.5;
}

.navbar-nav .nav-item {
  margin-right: 15px;
}

// ======= Header hat so viele verschiedene Klassen, deshalb Farbe so oft gesetzt
#page-header.bg-page-header, .navbar, .navbar-mainnavigation, .navbar-default, .navbar-has-image, .navbar-top{
  background-color: $accent;
}

#page-header.bp-page-header {
  background-color: $accent !important;
}

// ======= unterstichene Elemente entfernen =======
.nav-link.active, .nav-link.active::before{
  color: $primary !important;
  text-decoration: none !important;
  border-bottom: none !important;
  box-shadow: none !important;
  content: none !important;
}

.nav-link.active, .nav-link:hover::before{
  color: $primary !important;
  text-decoration: none !important;
  border-bottom: none !important;
  box-shadow: none !important;
  content: none !important;
}

