.icongroup {
  display: block;
  width: 100%;
}

.icongroup-item {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.icongroup-item-icon {
  display: block;
  margin-bottom: 5px;
}

.icongroup-item-text {
  display: block;
}
