@import "variables";

//======= Slider Styling =======
.image-band-container {
  position: relative;
  width: 80%;
  margin: 0 auto;
  overflow: hidden; /* Verhindert, dass Bilder außerhalb sichtbar sind */
  background-color: $accent;
  border-radius: 10px;
  padding: 10px;
}

.image-band {
  display: flex;
  transition: transform 0.3s ease-in-out;
  will-change: transform;
}

.image-item {
  flex: 0 0 200px;
  text-align: center;
  margin-right: 10px;
}

.image-item img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

// ======= weiter & zurück Buttons =======
.band-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: $accent;
  color: black;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

.band-button-prev {
  left: 10px;
}

.band-button-next {
  right: 10px;
}

.band-button:hover {
  background: $secondary;
}
